[mysqld]
slow_query_log = 1
slow_query_log_file = /var/lib/mysql/slow.log
long_query_time = 0.5
performance_schema = ON

# Augmenter la capacité des digests
performance_schema_digests_size=1000
performance_schema_max_digest_length=4096

# Activer les consommateurs
performance-schema-consumer-events-statements-current=ON
performance-schema-consumer-events-statements-history=ON
performance-schema-consumer-events-statements-history-long=ON